.Main {
  min-height: 100vh;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: 5rem 20rem 0 15rem;
  /* background-color: red; */
}

/* 大轮播图 */

.swiper-container {
  position: relative;
}

.bigSwiper {
  width: 100%;
  height: 30rem;
  border-radius: 0.6rem;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  user-select: none;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}
.swiper-pagination {
  text-align: right;
  padding-right: 15%;
  /* background-color: blue; */
}
.swiper-pagination-bullet {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0;
  margin: 2rem 0.5rem !important;
  transition: all 0.2s;
  opacity: 0.5;
  background: #fff;
}

.swiper-pagination-bullet-active {
  transform: scale(5, 2);
  opacity: 1;
  background: orangered;
}

/* 小轮播图 */
.innerSwiper {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 10rem;
  height: 15rem;
  border-radius: 0.6rem;
}

.innerSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
}

.myswiper-btn-container {
  text-align: center;
  transform: scale(2);
  z-index: 1000;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 2rem;
  bottom: 0;
  margin: auto;
}
.swiper-button-prev,
.swiper-button-next {
  
  user-select: none;
  --swiper-navigation-color: #fff; /* 单独设置按钮颜色 */
  --swiper-navigation-size: 10px; /* 设置按钮大小 */
}
.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}

/* 电影信息 */
.movieInfo {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -10rem;
  left: 0;
  z-index: 1;
  color: #fff;
  text-align: left;
  font-size: 14px;
  letter-spacing: 3px;
  /* background-color: #fff; */
}
.title {
  font-size: 1.5rem;
}
.movieStatus {
  opacity: 0.7;
  margin: 1rem 0;
}
.stars {
  font-size: 10px;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
